body{
	font-size: 1vw;
	background: #EDEDED;
	font-family: 'Assistant', sans-serif;
	@media(max-width: 1024px){
		font-size: 1.75vw;
	}
	@media(max-width: 768px){
		font-size: 1.9vw;
	}
	@media(max-width: 640px){
		font-size: 4vw;
	}
}

*{
	font-size: 100%;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Assistant', sans-serif;
}

img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.wrapper{
	background: #E3DBD9;
	width: 100%;
	margin-top: 7.6%;
	position: relative;
	display: flex;
	justify-content: space-between;
	@media(max-width: 1024px){
		padding-bottom: 5%;
	}
	@media(max-width: 768px){
		padding-bottom: 7.5%;
	}
	@media(max-width: 640px){
		margin-top:40%;
	}
	._left{
		position: relative;
		left: 0;
		top: 0;
		width: 28.5%;
		pointer-events: none;
		img{
			margin: 0;
		}
		@media(max-width: 1024px){
			width: 26.5%;
		}
		@media(max-width: 768px){
			width: 20%;
		}
	}
	._right{
		position: relative;
		right: 7.7%;
		top: 2%;
		width: 27%;
		pointer-events: none;
		img{
			margin: 0;
		}
		@media(max-width: 1024px){
			right: 0;
			width: 34%;
		}
		@media(max-width: 768px){
			width: 17%;
		}
		@media(max-width: 640px){
			width:31%;
		}
	}
	._badges{
		display: flex;
		justify-content: center;
		width: 75%;
		margin: 0 auto;
		position: relative;
		position: absolute;
		top: -15%;
		left: 0;
		right: 0;
		margin: 0 auto;
		@media(max-width: 1024px){
			width: 100%;
		}
		@media(max-width: 640px){
			top: -25%;
			flex-wrap: wrap;
		}
		.box{
			width: 6.5%;
			margin: 0 1.75%;
			@media(max-width: 1024px){
				width: 8%;
				margin: 0 1.75%;
			}
			@media(max-width: 768px){
				width: 8.7%;
			}
			@media(max-width: 640px){
				width: 15%;
				margin: 1% 5%;
			}
			img{
				width: 100%;
			}
			&:nth-child(9),
			&:nth-child(10){
				@media(max-width: 1024px){
					display: none;
				}
			}
		}
	}
	._content{
		margin: 0 auto;
		margin-top: -1.5%;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 20.5%;
		@media(max-width: 1024px){
		}
		@media(max-width: 768px){
			margin-top: 2.5%;
		}
		@media(max-width: 640px){
			margin-top: 0;
		}
		.title{
			text-align: center;
			font-weight: bold;
			font-size: 265%;
			@media(max-width: 640px){
				padding: 0 10%;
				line-height: 1;
			}
		}
		.text{
			text-align: center;
			font-size: 111%;
			margin-top: 0.5%;
			@media(max-width: 640px){
			    font-size: 130%;
			    margin-top: 3.5%;
			}
		}
		.buttons{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 2%;
			@media(max-width: 768px){
				margin-top: 2.5%;
			}
			@media(max-width: 640px){
				margin-top: 1%;
			}
			.button{
				margin: 0 1%;
				@media(max-width: 640px){
					width: 90%;
					margin: 5% auto 0;
				}
				a.btn{
					display: block;
					background: #000;
					color: #fff;
					border: 0;
					border-radius: 5px;
					width: 9vw;
					min-width: 170px;
					line-height: 2.6;
					font-size: 95%;
					border-radius: 12px;
					transition: .3s all;
					text-align: center;
					display: block;
					text-decoration: none;
					@media(max-width: 640px){
						width: 100%;
					}
					&:hover{
						background:lighten(#000,10%);
					}
				}
				&:nth-child(1){
					a.btn{
						background: #FF176B;
						&:hover{
							background:lighten(#FF176B,10%);
						}
					}
				}
				span{
					display: block;
					font-size: 80%;
					margin-top: 2.5%;
					text-align: center;
				}
			}
		}
	}
}